.content-profile {
    margin-top: 12vh;
}


/*================personal information===================*/

.personal-information {
    /* background: yellow; */
    background: url('../../../statics/images/PurpleCircle.png') no-repeat 45vh 28vh/95px 95px,
                url('../../../statics/images/OrangeCircle.png') no-repeat 25vh 50vh/50px 50px,
                url('../../../statics/images/TurquoiseCircle.png') no-repeat 45vh 68vh/50px 50px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5vh;
}

#personal-name {
    font-size: 62px;
    font-family: Inter;
    font-weight: bold;
    line-height: 80px;
    font-feature-settings: "salt" on, "liga" off;
    margin-top: 10vh;
}

#complete-profile {
    font-size: 26px;
    font-family: Inter;
    line-height: 32px;
    font-feature-settings: "salt" on, "liga" off;
    margin-bottom: 10vh;
}

.profile-photo {
    /* background: #fff; */
    /* margin-top: 2vh; */
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo #photo {
    /* background: #000; */
    width: 45%;
    height: 70%;
    margin-top: -6vh;
    border-radius: 50%;
    object-fit: contain;
    border: 4px solid #000;
}

#btn-pencil {
    background: #fff;
    border: 1px solid #000;
    margin-top: -5vh;
    margin-left: 17vh;
    border-radius: 50px;
    text-align: center;
}

#btn-pencil p {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    height: 10px;
}

.about-me {
    background: #fff;
    min-width: 33%;
    max-width: 46%;
    min-height: 20vh;
    margin-top: 7vh;
    border: 1px solid #F3F4FE;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-about-me {
    /* background: turquoise; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-about-me p {
    /* background: tomato; */
    font-size: 25px;
    padding: 20px;
    width: 100%;
    margin: 20px 20px -20px 20px;
    text-align: center;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

.about-me h2 {
    margin-top: 20px;
}

#about-pencil {
    margin-left: 84%;
    height: 50px;
    background: none;
    border: none;
    text-align: center;
}


/*================information===================*/


.information {
    /* background: springgreen; */
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.square-info {
    background: #fff;
    width: 60%;
    height: 88%;
    background: #FFFFFF;
    border: 1px solid #F3F4FE;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tittle-info h2{
    /* background: chartreuse; */
    height: 70px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 70px;
    text-align: center;
    margin-top: 4vh;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.information-list {
    /* background: turquoise; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

[class^="info-row-"] {
    /* background: tomato; */
    width: 90%;
    height: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

[class^="info-row-"] {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: rgba(24, 25, 31, 0.7);
    margin-left: 10%;
    margin-top: 4%;
}

#personal-pencil {
    margin-left: 90%;
    margin-top: -8vh;
    height: 50px;
    background: none;
    border: none;
    text-align: center;
}

/*================partner preferences===================*/



.partner-preferences {
    /* background: turquoise; */
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/*================your score===================*/

.your-score {
    /* background: steelblue; */
    background: url('../../../statics/images/super-boss-2194245-0.png') no-repeat 100vh 0/160vh 120vh;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.total-score {
    /* background:chartreuse; */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.score {
    /* background: tomato; */
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.score h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 70px;
    text-align: center;
    margin-top: 5vh;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.tips {
    /* background: wheat; */
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tips h3 {
    margin-left: 18%;
    margin-top: -8vh;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.tips ul {
    margin-left: 20%;
}

.tips ul li {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 70px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}