.all-content-get-partner {
    /* background: red; */
    background:
                url('../../../statics/images/QuoteMark.png') no-repeat 24vh 2vh/10% 20vh,
                url('../../../statics/images/Vectormini.png') no-repeat 1vh 90%/20% 20vh;
    height: 140vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -21vh;
}

.content-right {
    /* background: blue; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-left {
    /* background:burlywood; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-a-partner {
    /* background: yellow; */
    width: 65%;
    height: 30%;
    margin-left: 38vh;
    margin-top: 7vh;
}

.why-a-partner h1{
    font-size: 58px;
    font-family: Inter;
    font-weight: bold;
    font-feature-settings: "salt" on, 'liga' off;
}

.why-a-partner p {
    font-size: 22px;
    font-family: Inter;
    font-weight: bold;
    line-height: 42px;
    font-feature-settings: "salt" on, 'liga' off;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1rem;
}

.fearless {
    background: #fff;
    width: 55%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 2vh;
}

.fearless img {
    width: 35%;
    height: 12%;
    margin-top: 3rem;
    margin-right: 2rem;
}

.content-fearless{
    /* background:chartreuse; */
    width: 80%;
    height: 75%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-fearless #first-p {
    font-family: Inter;
    font-size: 24px;
    width: 90%;
    margin-left: 2vh;
    line-height: 32px;
    margin-top: 2rem;
}

.content-fearless h3 {
    font-size: 22px;
    color: black;
    margin-top: 4rem;
    margin-left: 1rem;
}

.content-fearless #second-p {
    margin-left: 1rem;
    color: gray;
    font-size: 18px;
}

.content-right [class^='testimonial-'] {
    background: #fff;
    width: 60%;
    height: 40%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 10px;
    margin-left: -36vh;
}

.content-right .testimonial-1 {
    margin-top: 16vh;
}

.content-right [class^='testimonial-'] img{
    width: 30%;
    height: 10%;
    margin-top: 5vh;
    margin-right: 15vh;
    margin-bottom: -4vh;
}


/*===================responsive desing===============*/

@media screen and (max-width: 1440px) and (max-height: 900px) and (orientation: landscape) {

    .all-content-get-partner {
        /* background: red; */
        background:
                    url('../../../statics/images/QuoteMark.png') no-repeat 20vh 6vh/12% 14vh,
                    url('../../../statics/images/Vectormini.png') no-repeat 1vh 76%/20% 20vh;
        margin-top: -24vh;
    }

    .why-a-partner {
        /* background: yellow; */
        height: 25%;
        margin-top: -13vh;
    }

    .why-a-partner h1{
        font-size: 50px;
    }

    .why-a-partner p {
        font-size: 20px;
        line-height: 30px;
    }

    .fearless {
        width: 55%;
        height: 45%;
        margin-top: 2vh;
    }

    .content-fearless{
        /* background:chartreuse; */
        width: 80%;
        height: 75%;
        margin-top: 2rem;
    }

    .content-fearless #first-p {
        font-size: 19px;
        width: 90%;
        margin-top: 1rem;
    }
    .content-fearless h3 {
        font-size: 22px;
        color: black;
        margin-top: 4rem;
        margin-left: 1rem;
    }

    .content-fearless #second-p {
        margin-left: 1rem;
        color: gray;
        font-size: 18px;
    }

    .content-right [class^='testimonial-'] {
        width: 70%;
        height: 33%;
        margin-left: -5vh;
    }
    
    .content-right .testimonial-1 {
        margin-top: -5vh;
    }
}


@media screen and (max-width: 1280px) and (max-height: 800px) and (orientation: landscape) {

    .all-content-get-partner {
        /* background: red; */
        background:
                    url('../../../statics/images/QuoteMark.png') no-repeat 20vh 6vh/12% 14vh,
                    url('../../../statics/images/Vectormini.png') no-repeat 1vh 76%/20% 20vh;
        margin-top: -24vh;
    }

    .why-a-partner {
        /* background: yellow; */
        height: 25%;
        margin-top: -13vh;
    }

    .why-a-partner h1{
        font-size: 48px;
    }

    .why-a-partner p {
        font-size: 19px;
        line-height: 30px;
    }

    .fearless {
        width: 55%;
        height: 47%;
        margin-top: 2vh;
    }

    .content-fearless{
        /* background:chartreuse; */
        width: 80%;
        height: 75%;
        margin-top: 2rem;
    }

    .content-fearless #first-p {
        font-size: 15px;
        width: 90%;
        margin-top: 1rem;
    }

    .content-fearless h3 {
        font-size: 18px;
        color: black;
        margin-top: 4rem;
        margin-left: 1rem;
    }

    .content-fearless #second-p {
        margin-left: 1rem;
        color: gray;
        font-size: 18px;
    }

    .content-right [class^='testimonial-'] {
        width: 70%;
        height: 33%;
        margin-left: -5vh;
    }

    .content-right .testimonial-1 {
        margin-top: -5vh;
    }
}