
.all-wraper {
    background: #fff;
    width: 75%;
    height: 62%;
    margin-top: 7vh;
    border: 1px solid #F3F4FE;
    box-sizing: border-box;
    box-shadow: 0 50px 115px rgba(165, 153, 209, 0.3);
    border-radius: 10px;
}

.firt-content {
    /* background: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.firt-content h1 {
    font-size: 68px;
    font-family: Inter;
    font-weight: bold;
    line-height: 68px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: black;
    margin-bottom: 3vh;
}

.firt-content p {
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 26px;
    line-height: 32px;
    font-family: Inter;
    font-weight: normal;
}

.secont-content {
    /* background:thistle; */
    display: flex;
    flex-direction: row;
    height: 60%;
}

.secont-content [class^="row"] {
    /* background:cornflowerblue; */
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -1rem;
}

.secont-content [class^="row"] img {
    width: 90%;
}

.secont-content [class^="row"] p {
    /* background:chartreuse; */
    font-size: 20px;
    line-height: 36px;
    font-family: Inter;
    width: 75%;
    height: 40%;
}

/*============responsive Desing================*/
@media screen and (max-width: 1440px) and (max-height: 900px) and (orientation: landscape) {
    .all-wraper {
        width: 80%;
        height: 50%;
    }

    .firt-content h1 {
        font-size: 54px;
        margin-top: 1rem;
        line-height: 48px;
    }

    .firt-content p {
        font-size: 20px;
        line-height: 22px;
    }

    .secont-content [class^="row"] img {
        margin-top: 20px;
    }


    .secont-content [class^="row"] p {
        /* background:chartreuse; */
        font-size: 18px;
        line-height: 29px;
        width: 100%;
        height: 50%;
    }
}


@media screen and (max-width: 1480px) and (max-height: 800px) and (orientation: landscape) {
    .all-wraper {
        width: 80%;
        height: 50%;
    }

    .firt-content h1 {
        font-size: 50px;
        margin-top: 1rem;
        line-height: 48px;
    }

    .firt-content p {
        font-size: 20px;
        line-height: 22px;
    }

    .secont-content [class^="row"] img {
        margin-top: 20px;
    }


    .secont-content [class^="row"] p {
        /* background:chartreuse; */
        font-size: 16px;
        line-height: 29px;
        width: 100%;
        height: 50%;
    }
}