/*=============== responsive design for the laptops ================= */



@media screen and (max-width: 1440px) and (max-height: 900px) and (orientation: landscape) {
    .content-Header {
        background:
                    url('../../../statics//images/jumping-2194230-0.png') no-repeat 53vh 2vh/110vh 110vh,
                    url('../../../statics/images/circle.png') no-repeat 83vh -10%/100vh 98vh;
        margin: 0 0 24vh 0;
        height: 105vh;

    }
    .tittle {
        /* background:chartreuse; */
        width: 95%;
        margin-top: -25vh;
        margin-left: 23vh;
    }

    #t1 {
        font-size: 61px;
    }

    .info #phara {
        /* background:yellow; */
        margin-left: 10vh;
        font-size: 23px;
        margin-top: -1.6rem;
    }

    #btn-getStart {
        margin-right: 32vh;
    }

    .signIn {
        /* background: turquoise; */
        margin-right: 40%;
    }

    .info img {
        margin-left: 89%;
        margin-top: 4vh;
    }

    .logo-info img {
        width: 10%;
        margin-top: 90%;
        margin-left: 22%;
    }

    /*================section How its work=================*/

    .how-its-work {
        /* background: turquoise; */
        margin-top: -15vh;
    }

    .all-content-work {
        background: url('../../../statics/images/Mask\ Group.png') no-repeat 0 10vh/180vh 90vh;
    }

    /*=================section get a partner================*/


    .getApartner {
        height: 125vh;
        background: url('../../../statics/images/Features\ 4.png') no-repeat left 0/100% 40%,
                    url('../../../statics/images/triangle.png') no-repeat right 47vh/79% 62%;
    }

    .getApartner img {
        height: 90vh;
        width: 66%;
        margin-top: -55vh;
        margin-left: -10vh;
    }
    /*=============asked-questions==============*/

    .asked-questions {
        height: 180vh;
        background: url('../../../statics/images/lady-with-megaphone-2194239-0.png') no-repeat 88vh -25vh/55% 48%,
                    url('../../../statics/images/vectorFrequently.png') no-repeat 0 28vh/82% 79%;
    }
}


@media screen and (max-width: 1280px) and (max-height: 800px) and (orientation: landscape) {
    .content-Header {
        background:
                    url('../../../statics//images/jumping-2194230-0.png') no-repeat 53vh 3vh/110vh 107vh,
                    url('../../../statics/images/circle.png') no-repeat 84vh -10%/100vh 98vh;
        height: 105vh;
    }
    .tittle {
        /* background:chartreuse; */
        width: 95%;
        margin-top: -20vh;
        margin-left: 20vh;
    }

    #t1 {
        font-size: 55px;
    }

    .info #phara {
        /* background:yellow; */
        margin-left: 8vh;
        font-size: 20px;
        margin-top: -2rem;
    }

    #btn-getStart {
        margin-right: 30vh;
    }

    .signIn {
        /* background: turquoise; */
        margin-right: 38%;
    }

    .info img {
        margin-left: 90%;
        margin-top: 4vh;
    }

    .logo-info img {
        margin-top: 90%;
        margin-left: 22%;
    }

    /*================section How its work=================*/

    .how-its-work {
        /* background: turquoise; */
        margin-top: -15vh;
    }

    .all-content-work {
        background: url('../../../statics/images/Mask\ Group.png') no-repeat 0 10vh/180vh 90vh;
    }

    /*=================section get a partner================*/


    .getApartner {
        height: 125vh;
        background: url('../../../statics/images/Features\ 4.png') no-repeat left 0/100% 40%,
                    url('../../../statics/images/triangle.png') no-repeat right 47vh/79% 62%;
    }

    .getApartner img {
        height: 90vh;
        width: 66%;
        margin-top: -55vh;
        margin-left: -10vh;
    }
    /*=============asked-questions==============*/

    .asked-questions {
        height: 180vh;
        background: url('../../../statics/images/lady-with-megaphone-2194239-0.png') no-repeat 88vh -25vh/55% 48%,
                    url('../../../statics/images/vectorFrequently.png') no-repeat 0 28vh/82% 79%;
    }
}