
#content-dashboard {
    background: rgb(255, 255, 255);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-col-1 {
    /* background: tomato; */
    margin-top: 20vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.dashboard-col-1 h1 {
    font-family: Inter;
    font-weight: bold;
    font-size: 30px;
}

.dashboard-col-2 {
    /* background: tomato; */
    background: url('../../../statics/images/PurpleCircle.png') no-repeat 17% 3vh/90px 90px,
                url('../../../statics/images/OrangeCircle.png') no-repeat 22vh 18vh/50px 50px,
                url('../../../statics/images/TurquoiseCircle.png') no-repeat 33vh 40vh/50px 50px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30vh;
}

.sub-dashboard-col-1 {
    /* background: chartreuse; */
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-dashboard-col-1 h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    margin-top: -10rem;
}

.dashboard-col-3 {
    /* background: tomato; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sub-dashboard-3-col-1 {
    /* background: chartreuse; */
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sub-dashboard-3-col-1 h1 {
    /* background: rgb(13, 30, 124); */
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 70px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    margin-bottom: 5vh;
}

.sub-dashboard-3-col-1 p {
    margin-right: 66vh;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 70px;
    color: #18191F;
    margin-top: 4vh;
}

.dashboard-col-4 {
    /* background: turquoise; */
    height: 100vh;
}

[class^='direction'] {
    background: rgb(206, 204, 204);
}