.all-content {
    background: #000;
    position: absolute;
    width: 100%;
    min-height: 153px;
}

/* SupptMe */
.logo {
    width: 345px;
    min-height: 85px;
    left: 58px;
    top: 48px;
}

.logo h1 {
    font-family: Roboto;
    font-size: 64px;
    text-align: center;
    margin-left: 58px;
    color: #FFFFFF;
}



#home {
    width: 100%;
    height: 58px;
    font-family: Andika;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-right: 2rem;
    text-align: center;
    color: #FFFFFF;
    background: #9E00E8;
    border-radius: 50px;
}

#accountability {
    height: 58px;
    font-family: Andika;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-right: 2rem;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50px;
}

#about {
    height: 58px;
    font-family: Andika;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-right: 2rem;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50px;
}

#login {
    height: 58px;
    font-family: Andika;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-right: 2rem;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50px;
}

/*nav hover*/

#home:hover {
    color: black;
}

#accountability:hover {
    color: black;
    background: #9E00E8;
}

#about:hover {
    color: black;
    background: #9E00E8;
}

#login:hover {
    color: black;
    background: #9E00E8;
}


/*###########RESPONSIVE DESING##########*/


@media screen and (max-width: 850px) and (min-width: 768px) {
    .logo h1 {
        font-family: Roboto;
        font-size: 48px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -5rem;
    }
    .logo h1 {
        font-family: Roboto;
        font-size: 48px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -5vh;
        padding: 20px;
    }
}

@media screen and (max-width: 767px) and (min-width: 449px) {
    .logo h1 {
        font-family: Roboto;
        font-size: 48px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -8rem;
        padding: 20px;
    }
}

@media screen and (max-width: 448px) and (min-width: 421px) {
    .all-content{
        width: 120%;
    }

    .logo {
        margin-left: 50vh;
        width: 100%;
    }

    .logo h1 {
        font-family: Roboto;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -12rem;
        padding: 20px;
    }

    .navbar-toggler-icon {
        margin-top: -20vh;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 420px) and (min-width: 412px) {
    .all-content{
        width: 120%;
    }

    .logo {
        margin-left: 50vh;
        width: 100%;
    }

    .logo h1 {
        font-family: Roboto;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -15rem;
        padding: 20px;
    }

    .navbar-toggler-icon {
        margin-top: -20vh;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 411px) and (min-width: 407px) {
    .all-content{
        width: 120%;
    }

    .logo {
        margin-left: 50vh;
        width: 100%;
    }

    .logo h1 {
        font-family: Roboto;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -20rem;
        padding: 20px;
    }

    .navbar-toggler-icon {
        margin-top: -18vh;
        margin-left: -5px;
    }
}

@media screen and (max-width: 406px) and (min-width: 376px) {
    .all-content{
        width: 120%;
    }

    .logo {
        margin-left: 50vh;
        width: 100%;
    }

    .logo h1 {
        font-family: Roboto;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -15rem;
        padding: 20px;
    }

    .navbar-toggler-icon {
        margin-top: -20vh;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 375px) and (min-width: 361px) {
    .all-content{
        width: 120%;
    }

    .logo {
        margin-left: 50vh;
        width: 100%;
    }

    .logo h1 {
        font-family: Roboto;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -20rem;
        padding: 20px;
    }

    .navbar-toggler-icon {
        margin-top: -18vh;
        margin-left: -1vh;
    }
}

@media screen and (max-width: 360px) and (min-width: 340px) {
    .all-content{
        width: 120%;
    }

    .logo {
        margin-left: 50vh;
        width: 100%;
    }

    .logo h1 {
        font-family: Roboto;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -15rem;
        padding: 20px;
    }

    .navbar-toggler-icon {
        margin-top: -20vh;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 339px) and (min-width: 321px) {
    .all-content{
        width: 150%;
    }

    .logo {
        margin-left: 50vh;
        width: 100%;
    }

    .logo h1 {
        font-family: Roboto;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -15rem;
        padding: 20px;
    }

    .navbar-toggler-icon {
        margin-top: -20vh;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 320px) and (min-width: 310px) {
    .all-content{
        width: 150%;
    }

    .logo {
        margin-left: 50vh;
        width: 100%;
    }

    .logo h1 {
        font-family: Roboto;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -1rem;
        padding: 20px;
        margin-top: 10px;
    }

    .navbar-toggler-icon {
        margin-top: -25vh;
        margin-left: 1rem;
    }
}
